@import '~@/styles/shared/colors.scss';

.section-diary {
  ul.diary__tab {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      vertical-align: middle;
      font-size: 20px;

      width: calc(100% / 3);
      text-align: center;
      cursor: pointer;
      padding: 10px 0;

      border-bottom: 3px solid $gray;

      &.active {
        border-bottom-color: $purple;
        color: $purple;
      }
    }
  }

  // .diary__content {
  //   padding: 50px 0;
  // }

  // diary
  .diary-timeline {
    .diary {
      border-bottom: 1px solid $light-purple;

      &.open {
        .diary__info {
          border-left-color: $skyblue;
        }
        .diary__info:after {
          top: calc(50% - 19px);
          right: 5px;
          transform: rotate(90deg) translateY(50%);
          color: $skyblue;
        }
      }

      &:last-child {
        border-bottom: 0;
      }

      &__info {
        padding: 20px 0 20px 30px;
        border-left: 30px solid $light-purple;
        cursor: pointer;
        position: relative;

        &:after {
          transition: 0.3s;
          content: '>';
          font-weight: 800;
          font-size: 30px;
          color: $purple;

          position: absolute;
          top: 50%;
          right: 25px;
          transform: translateY(-50%);
        }
      }

      &__title {
        font-size: 20px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        img {
          width: 20px;
          margin-left: 10px;
        }
        & > * {
          vertical-align: middle;
        }
      }
      &__content {
        padding: 30px;

        .diary__thumbnail {
          width: 100%;
          height: 400px;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }

        p {
          margin-top: 50px;
        }
      }

      &-panel {
        margin-bottom: 50px;
        &__date {
          padding: 10px 0;
          border-bottom: 2px solid $purple;
          font-size: 30px;
          font-weight: bold;
          color: $purple;
        }

        &__rows {
          // padding: 10px 0;
        }
      }
    }
  }

  // 투두리스트
  .diary__todo-list {
    .section-btn {
      text-align: right;
      margin: 10px 0;
    }

    .todo {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      .checkbox {
        margin-right: auto;
      }

      .user {
        margin-right: 10px;
      }

      .btns {
        margin-left: 10px;
      }
    }

    .list-wrapper {
      .list.completed {
        .checkbox {
          position: relative;

          &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 5px;
            background: url('/images/common/icon_line.png') repeat-x center
              transparent;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
          }
        }
      }
    }
  }

  .diary-schedule {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: flex;
        align-items: center;
        padding: 10px 0;

        .schedule__title {
          margin-right: auto;
          .btns {
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
          }
        }
        .schedule__user {
          margin-right: 10px;
        }
        .schedule__date {
          margin-right: 10px;
        }
        .schedule__d-day {
          font-weight: bold;
          color: $purple;
        }
      }
    }
  }
}
